{{#each this}}
  <div class='movie-card'>
    {{!-- <img
      src='https://image.tmdb.org/t/p/w500{{poster_path}}'
      alt={{name}}
      
      data-id='{{id}}'
    /> --}}
    {{#if poster_path}}
      <img
        src='https://image.tmdb.org/t/p/w500{{poster_path}}'
        alt={{name}}
        data-id='{{id}}'
      />{{/if}}

    {{#unless poster_path}}
      <img src='images/sawa.jpg' alt={{name}} data-id='{{id}}' />
    {{/unless}}
    <div class='movie-data'>
      <h5 class='movie-name'>{{name}}</h5>
      <p class='movie-info'>{{genres}} | {{release}}</p>
    </div>
  </div>
{{/each}}