{{#each this}}
  <div class='movie-card'>
    <img
      src='https://image.tmdb.org/t/p/w500{{poster_path}}'
      alt={{name}}
      
      data-id='{{id}}'
    />
    <div class='movie-data'>
      <h5 class='movie-name'>{{name}}</h5>
      <p class='movie-info'>{{genres}} | {{release}} <span class='movie-vote'>{{vote_average}}</span></p>
    </div>
  </div>
{{/each}}