<div class="film-card">
    <div class="film-img">
        <img src='https://image.tmdb.org/t/p/original{{poster_path}}' 
        alt={{name}} 
        />
    </div>

    <div class="film-list">
        <p class="film-title">{{title}}</p>
        <div class="film-info">           
            <div class="film-text__left">
                <p class="film-text ">Vote / Votes</p>
                <p class="film-text">Popularity</p>
                <p class="film-text">Original Title</p>
                <b class="film-text">Genre</b>
            </div>
            <div class="film-text__right">
                <p class="film-text vote-film"> 
                    <span class="box-film">{{vote_average}}</span> / 
                    <span class="box-film-vote">{{vote_count}}</span></p>
                <p class="film-text">{{popularity}}</p>
                <p class="film-text">{{original_title}}</p>
                <p class="film-text">{{genres}}</p>
            </div>                        
        </div>
        <p class="film-info__item">
            <b class="film-text">About</b></br>
            <b class="film-about">{{overview}}</b>
        </p>

        <div class="btn-add" id="js-add-to-list" data-id="{{id}}">
            <button class="button" id="add-watched" type="button">add to watched</button>
            <button class="button" id="add-queue" type="button">add to queue</button>
        </div>
    </div>
</div>