<div class="film-card">

    
    <button type="button" class="btn-modal-film ">
      <svg  class="btn-modal-film-icon" width="14" height="14">X
        <use href="./images/close-film.svg"></use>
      </svg>
    </button>


    <div class="film-img">
        <img src='https://image.tmdb.org/t/p/original{{poster_path}}' 
        alt={{name}} 
        />
    </div>

    <div class="film-list">
        <p class="film-title">{{title}}</p>
        <div class="film-info">
            <p class="film-text ">
                <b class="film-text__left">Vote / Votes</b>
                <b class="film-text film-text__right vote-film"> 
                    <span class="box-film">{{vote_average}}</span> / 
                    <span class="box-film-vote">{{vote_count}}</span></b>
            </p>
            <p class="film-text ">
                <b class="film-text__left">Popularity</b>
                <b class="film-text__right">{{popularity}}</b>
            </p>
            <p class="film-text ">
                <b class="film-text__left">Original Title</b>
                <b class="film-text__right">{{original_title}}</b>
            </p>
            <p class="film-text ">
                <b class="film-text__left">Genre</b>
                <b class="film-text__right">{{genres}}</b>

            </p>                       
        </div>
        <p class="film-info__item">
            <b class="film-text">ABOUT</b>
            <b class="film-about">{{overview}}</b>
        </p>

        <div class="btn-add" id="js-add-to-list" data-id="{{id}}">
            <button class="button" id="add-watched" type="button">ADD TO WATCHED</button>
            <button class="button" id="add-queue" type="button">ADD TO QUEUE</button>
        </div>
    </div>
     
</div>